@import "../../styles/constants.scss";
.wrapper {
  background-color: white;
  overflow: hidden;
  .container {
    gap: 2rem;
    // display: flex;
    flex-direction: column;
  }
  .heading {
    display: flex;
    width: 100%;
    flex-direction: column;
    a {
      text-decoration: none;
      align-self: flex-end;
      :hover {
        opacity: 0.8;
        cursor: pointer;
      }
    }
  }
  .projectCard {
    width: 100%;
    gap: 2rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    div {
      text-align: center;
      border-radius: 20px;

      padding: 20px;
      &:hover {
        // background-color: aliceblue;
        box-shadow: 10px 10px 50px rgba(0, 0, 0, 10%);
      }
      img {
        @media (max-width: $sm) {
          max-width: 23rem;
        }
        border-radius: 10px;
        max-width: 30rem;
        box-shadow: 5px 10px 10px rgba(0, 0, 0, 10%);
      }
      //   target each of the icon
      span {
        > * {
          width: 40px;
        }
        > *:hover {
          cursor: pointer;
          fill: $secondary-darkGrey;
        }
      }
    }
  }
}
