$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;
$primary: #323637;
$secondary-darkGrey: #3a5b5e;
// $secondary-grey: #b4b0af;
$secondary-lightGrey: #cacac5;
$background: #ffffff;
$font-color: #0a848e;
$primaryText: #ed203b;

$pri: linear-gradient(45deg, #fb0000, #dd435e, #ac5eab, #0074fb);
// $hover: #1b909b;
