@import "../../styles/constants.scss";
.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
  text-align: justify;
  //   @media (max-width: $sm) {
  //     text-align: center;
  //   }
  .skillsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    @media (max-width: $sm), (max-width: $md) {
      // justify-content: space-evenly;
      // .skillsItem {
      //   margin: 0rem 0rem;
      // }
    }
    .skillsItem {
      text-align: center;
      width: 5rem;
      margin: 0rem 2rem;
    }
  }
}
